*.class
*.iml
*.jar
*/.lein-*
*/.nrepl-port
*/checkouts
*/classes
*/target/
.hg/
.hgignore
.idea/
.lein-failures
.lein-repl-history
.lsp/
.nrepl-port
/*.asc
/.cpcache
/.eastwood
/.events.log
/.nrepl-history
/.nrepl-port
/checkouts
/classes
/target
checkouts
perf/.terraform*
perf/.terraform/**
perf/terraform*
pom.xml.asc
target/
/pom.xml
