*.class
*.iml
.hg/
.hgignore
.idea/
.lein-repl-history
.lein-failures
.lsp/
.nrepl-port
*/.lein-*
*/.nrepl-port
*/checkouts
*/classes
*/target/
/pom.xml
pom.xml.asc
target/
checkouts
.env
/.events.log
/.eastwood
perf/terraform*
perf/.terraform*
perf/.terraform/**
