{:paths ["src" "resources"]
 :deps {potemkin/potemkin {:mvn/version "0.4.5"}}
 :aliases
 {:test {:extra-paths ["test"]}
  :run-x {:extra-paths ["dev"]
          :ns-default user
          :exec-fn run-x}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}}}
