name: Deploy version
on:
  create:
    tags:
      - '*.*.*'
    branches:
      - main
jobs:
  version:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: lein deps
    - run: lein test
    - run: lein jar
    - env:
        CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
        CLOJARS_TOKEN: ${{ secrets.CLOJARS_TOKEN }}
      run: lein deploy clojars
