name: Walter CI
'on':
  push:
    branches: '*'
  schedule:
    - cron: "28 6 * * *"
jobs:
  sequential-job:
    runs-on: ubuntu-latest
    env:
      WALTER_GITHUB_PASSWORD: ${{ secrets.WALTER_GITHUB_PASSWORD }}
      WALTER_GIT_EMAIL: ${{ secrets.WALTER_GIT_EMAIL }}
    steps:
      - uses: actions/checkout@main

      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: latest
          lein: latest

      # - name: Walter CI
      #   uses: piotr-yuxuan/walter-ci@main
      #   env:
      #     WALTER_COMMAND: conform-repository

      - name: Run tests
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: run-tests

      - name: Sort ns
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: sort-ns

      - name: List vulnerabilities
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: list-vulnerabilities

      - name: List licences
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: list-licences

      - name: Update dependencies and run tests
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: update-dependencies-run-tests
