# This file is maintained by Walter CI, and may be rewritten.
# https://github.com/piotr-yuxuan/walter-ci
#
# You are free to remove this project from Walter CI realm by opening
# a PR. You may also create another workflow besides this one.
#
name: Walter CI
'on':
  push:
    branches: '*'
  schedule:
    - cron: "28 6,18 * * *"
jobs:

  conform-repository:
    runs-on: ubuntu-latest
    env:
      WALTER_GITHUB_PASSWORD: ${{ secrets.WALTER_GITHUB_PASSWORD }}
      WALTER_GIT_EMAIL: ${{ secrets.WALTER_GIT_EMAIL }}
    steps:
      - uses: actions/checkout@main
        with:
          submodules: recursive
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/project.clj') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: latest
          lein: latest
      - name: Conform repository
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: conform-repository

  update-git-ignore:
    runs-on: ubuntu-latest
    env:
      WALTER_GITHUB_PASSWORD: ${{ secrets.WALTER_GITHUB_PASSWORD }}
      WALTER_GIT_EMAIL: ${{ secrets.WALTER_GIT_EMAIL }}
    steps:
      - uses: actions/checkout@main
        with:
          submodules: recursive
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/project.clj') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: latest
          lein: latest
      - name: Update .gitignore
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: clojure-git-ignore

  sort-ns:
    runs-on: ubuntu-latest
    env:
      WALTER_GITHUB_PASSWORD: ${{ secrets.WALTER_GITHUB_PASSWORD }}
      WALTER_GIT_EMAIL: ${{ secrets.WALTER_GIT_EMAIL }}
    steps:
      - uses: actions/checkout@main
        with:
          submodules: recursive
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/project.clj') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: latest
          lein: latest
      - name: Sort ns
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: sort-ns

  list-vulnerabilities:
    runs-on: ubuntu-latest
    env:
      WALTER_GITHUB_PASSWORD: ${{ secrets.WALTER_GITHUB_PASSWORD }}
      WALTER_GIT_EMAIL: ${{ secrets.WALTER_GIT_EMAIL }}
    steps:
      - uses: actions/checkout@main
        with:
          submodules: recursive
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-nvd-${{ hashFiles('**/project.clj') }}
          restore-keys: |
            ${{ runner.os }}-maven-nvd-
      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: latest
          lein: latest
      - name: List vulnerabilities
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: list-vulnerabilities

  list-licences:
    runs-on: ubuntu-latest
    env:
      WALTER_GITHUB_PASSWORD: ${{ secrets.WALTER_GITHUB_PASSWORD }}
      WALTER_GIT_EMAIL: ${{ secrets.WALTER_GIT_EMAIL }}
    steps:
      - uses: actions/checkout@main
        with:
          submodules: recursive
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/project.clj') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: latest
          lein: latest
      - name: List licences
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: list-licences

  code-coverage:
    runs-on: ubuntu-latest
    env:
      WALTER_GITHUB_PASSWORD: ${{ secrets.WALTER_GITHUB_PASSWORD }}
      WALTER_GIT_EMAIL: ${{ secrets.WALTER_GIT_EMAIL }}
    steps:
      - uses: actions/checkout@main
        with:
          submodules: recursive
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/project.clj') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: latest
          lein: latest
      - name: Code coverage
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: code-coverage

  rewrite-idiomatic-simple:
    runs-on: ubuntu-latest
    env:
      WALTER_GITHUB_PASSWORD: ${{ secrets.WALTER_GITHUB_PASSWORD }}
      WALTER_GIT_EMAIL: ${{ secrets.WALTER_GIT_EMAIL }}
    steps:
      - uses: actions/checkout@main
        with:
          submodules: recursive
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/project.clj') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: latest
          lein: latest
      - name: Rewrite more idiomatic Clojure
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: rewrite-idiomatic-simple

  update-dependencies-run-tests:
    runs-on: ubuntu-latest
    env:
      WALTER_GITHUB_PASSWORD: ${{ secrets.WALTER_GITHUB_PASSWORD }}
      WALTER_GIT_EMAIL: ${{ secrets.WALTER_GIT_EMAIL }}
    steps:
      - uses: actions/checkout@main
        with:
          submodules: recursive
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/project.clj') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: latest
          lein: latest
      - name: Update dependencies and run tests
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: update-dependencies-run-tests
