# This file is maintained by Walter CI, and may be rewritten.
# https://github.com/piotr-yuxuan/walter-ci
#
# You are free to remove this project from Walter CI realm by opening
# a PR. You may also create another workflow besides this one.
#
name: Walter CI
'on':
  push:
    branches: '*'
  schedule:
    - cron: "28 6,18 * * *"
jobs:
  sequential-job:
    runs-on: ubuntu-latest
    env:
      WALTER_GITHUB_PASSWORD: ${{ secrets.WALTER_GITHUB_PASSWORD }}
      WALTER_GIT_EMAIL: ${{ secrets.WALTER_GIT_EMAIL }}
    steps:
      - uses: actions/checkout@main

      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: latest
          lein: latest

      # First things first: a CI is mainly interested in running tests.
      - name: Run tests
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: run-tests

      - name: Walter CI
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: conform-repository

      - name: Update .gitignore
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: clojure-git-ignore

      - name: Sort ns
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: sort-ns

      - name: List vulnerabilities
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: list-vulnerabilities

      - name: List licences
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: list-licences

      - name: Rewrite more idiomatic Clojure
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: rewrite-idiomatic-simple

      - name: Update dependencies and run tests
        uses: piotr-yuxuan/walter-ci@main
        env:
          WALTER_COMMAND: update-dependencies-run-tests
